In [ ]:
# default_exp sports_generic.handlers

# sports_generic.handlers

> A set of sports oriented handlers to work with the objects

In [ ]:
# export

from oos.base import Base_Handler
from oos.sports_generic.objects import Player, Team, Game

class Players(Base_Handler):

    def __init__(self, **kwargs):
        '''
        class should be instantiated with a list of Team object created using
        this package or with a pandas dataframe with the appropriate colums
        '''
        super().__init__(obj_class=Player, **kwargs)

In [ ]:
player = Player(name='Darius Leonard',college='South Carolina State', height=1.88, weight=104)
player._name_id
player.get_properties()

{'name': 'Darius Leonard',
 'object_id': '1e3a88e6-a245-3967-b54a-3f146a181789',
 'age': None,
 'position': None,
 'height': 1.88,
 'weight': 104.0,
 'college': 'South Carolina State',
 'team_id': None}

In [ ]:
# export

class Teams(Base_Handler):

    def __init__(self, **kwargs):
        '''
        class should be instantiated with a list of Team object created using
        this package or with a pandas dataframe with the appropriate colums
        '''
        super().__init__(obj_class=Team, **kwargs)

In [ ]:
colts = Team(name='Colts', division='AFC South')
teams = Teams(obj_list=[colts])
teams.dataframe

    name                             object_id   division  seed
0  Colts  48add1b8-ba9b-3532-ad8f-39fa70a3a0f0  AFC South  None

In [ ]:
# export

class Games(Base_Handler):

    def __init__(self, **kwargs):
        '''
        class should be instantiated with a list of Team object created using
        this package or with a pandas dataframe with the appropriate colums
        '''
        super().__init__(Game, **kwargs)
        
    def add_swapped_games(self):
        NotImplementedError('add a swapped version of each game' \
                            'to the DataFrame')

In [ ]:
texans = Team(name='Texans', division='AFC South')

rivalry = Game(t1_id=colts.object_id, t2_id=texans.object_id)

In [ ]:
games = Games(obj_list=[rivalry])
games.dataframe

,object_id,t1_id,t2_id,t1_score,t2_score,day,year,location
0,5c45c322-373a-497a-a929-9668dae6870c,48add1b8-ba9b-3532-ad8f-39fa70a3a0f0,fc517510-8517-36d8-b900-6402cccc5506,None,None,None,None,None